<!DOCTYPE html>
<html>
<head>
  <title>Workzoned</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
 <div class="page-header">
    <h1><%= yield :page_header %></h1>
  </div>
	<%= yield %>
</div>
<%= javascript_include_tag 'jquery',:defer => "defer" %>
<%= javascript_include_tag 'bootstrap-select',:defer => "defer" %>
<%= javascript_include_tag 'select2',:defer => "defer" %>
<%= javascript_include_tag 'chosen.jquery.min',:defer => "defer" %>
</body>
</html>
